better_ffmpeg_progress==2.1.5
colorthief==0.2.1
darkdetect==0.8.0
httpx==0.27.2
loguru==0.7.2
modelscope==1.17.1
numpy==1.24.4
openai==1.47.0
packaging==24.1
path==17.0.0
Pillow==10.4.0
pydantic==2.9.2
PySide6==6.8.0
PySide6_Addons==6.8.0
PySide6_Essentials==6.8.0
PySideSix_Frameless_Window==0.4.3
scipy==1.14.1
SQLAlchemy==2.0.32
torch==2.4.1
zhipuai==2.1.5.20230904
socksio==1.0.0