httpx==0.27.2
loguru==0.7.3
modelscope==1.25.0
openai==1.76.0
sqlalchemy==2.0.40
socksio==1.0.0
packaging==25.0
darkdetect==0.8.0
colorthief==0.2.1
path==17.0.0
scipy==1.15.2
numpy==1.24.4
pysidesix-frameless-window==0.4.3
torch==2.4.1
torchaudio==2.4.1
funasr==1.2.6
pydantic==2.9.2
pyside6==6.7.2
av==14.4.0
alibabacloud-oss-v2==1.1.0
dashscope==1.23.1
pydantic_settings==2.9.1
dotenv==0.9.9
pytz>=2025.2
pip>=25.1.1
setuptools==80.9.0


