DeleteButton {
    background-color: #e74c3c !important;
    border: 1px solid #e74c3c !important;
 }
DeleteButton:hover {
    background-color: #f17a6f !important;
    border: 1px solid #f17a6f !important;
}
DeleteButton:pressed {
    background-color: #c0392b !important;
}